<h1 class="text-center">Editing Listing</h1>

<%= render 'form', listing: @listing %>

<div class="text-center">
	<%= link_to 'Show', @listing, :class => 'btn blue-gradient waves-effect' %> |
	<%= link_to 'Back', listings_path,:class => 'btn peach-gradient waves-effect waves-light' %>
</div>